.DS_Store
/node_modules/
/src/
/build/
/config/
static/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

*.babelrc
*.editorconfig
*.gitignore
*.npmignore
.postcssrc.*

dist/cx-theme.min.js

index.html
package.json
README.*
theme-config.scss
theme-config.md


# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
